.font-1 {
    font-size: 1rem !important;
    font-weight: 500 !important;
}

a {
    text-decoration: none;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 9;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    margin-left: 16px;
}

.navbar-nav .nav-item .nav-link {
    transition: all 0.2s ease-in;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #3192FF !important;
}

.active {
    color: #3192FF !important;
    position: relative;
}

.active::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #3192FF;
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-item.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: 10px;
    margin-inline: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.doctors-card {
    background-image: linear-gradient(to right,
            white 0% 40%,
            rgba(49, 146, 255, 0.5));

}

.link-effect {
    /* margin-block: 10px; */
    list-style-type: none;
    font-weight: 500;
    transition: all 0.2s ease-in;
    text-transform: capitalize;

}

.line-end::after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to bottom,
            white 0% 20%,
            rgba(49, 146, 255, 0.5) 20% 60%,
            white);
}

.link-effect:hover {
    color: rgb(49, 109, 255);
    transform: translateX(20px);
}

.template-card {
    height: 320px;
    background: #fff;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.template-card:hover {
    transform: translateY(-5px);
}

.template-img {
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    background: #f5f7fa;
}

.template-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.template-title {
    margin-top: 14px;
    font-weight: 600;
}




/* contact-us header and breadcum */
.page-header {
    padding: 2% 0;
    background: #f5f9ff;
    background-image: url("../imgs/contactus-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3%;
}

.page-header h1 {
    font-weight: 700;
    font-size: 42px;
}

.house {
    color: #3b82f6;
    font-weight: 500;
    margin-bottom: 10px;
}


/* Contact Us Form */
.contact-section {
    background: #fff;
}

.small-title {
    color: #3b82f6;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

/* Info Boxes */
.info-box {
    display: flex;
    gap: 15px;
    padding: 20px;
    border-radius: 12px;
    background-color: #f9fbff;
    margin-bottom: 15px;
}

.info-box .icon {
    width: 45px;
    height: 45px;
    background-color: #e0edff;
    color: #3b82f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
}

.info-box h6 {
    margin: 0;
    font-weight: 600;
}

.info-box p {
    margin: 0;
    color: #555;
}

/* Form */
.contact-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.06);
}

.contact-form label {
    font-weight: 500;
    margin-bottom: 5px;
}

.contact-form .form-control {
    border-radius: 8px;
    height: 45px;
}

.contact-form textarea {
    height: auto;
}

.btn-primary {
    border-radius: 25px;
}

/* Footer */
.footer {
    background-image: url("../imgs/imgi_47_footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.li-footer {
    accent-color: rgb(49, 109, 255);
}

.li-footer:hover {
    color: rgb(49, 109, 255);
    text-decoration: underline;

}

.li-footer:hover a {
    color: rgb(49, 109, 255) !important;
}

.social-footer {
    height: 30px;
    width: 30px;
    border: 1px solid gray;
    transition: all 0.2s ease;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-footer:hover {
    background-color: #3192FF;
    color: white;
}

.social-footer span {
    transition: all 0.2s;
}

.social-footer:hover span {
    transform: rotateY(360deg);
}





.sidebar {
    position: sticky;
    top: 20px;
}

/* Menu */
.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin-bottom: 8px;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    background: #fff;
    border-radius: 10px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.sidebar-menu a i {
    font-size: 18px;
    color: #3b82f6;
}

.sidebar-menu a:hover {
    background: #eef4ff;
}

.sidebar-menu .badge {
    margin-left: auto;
}

.dashboard-section {
    background: #f5f7fb;
}

/* Profile */
.profile-card {
    background: #fff;
    border-radius: 16px;
    padding: 20px;

}

.profile-cover {
    height: 120px;
    background: #2563eb;
    border-radius: 12px;
}

.profile-img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -55px;
    border: 5px solid #fff;
}

/* Stats */
.stat-card {
    background: #fff;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

/* Appointment */
.appointment-item {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    padding: 12px 0;
    justify-content: space-between;
    /* background-color: red; */
    /* border-bottom: 1px solid #eee; */
    /* background-color: red; */
}

.appointment-item img {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    object-fit: cover;
}

.actions {
    margin-left: auto;
    display: flex;
    gap: 5px;
}

/* Upcoming */
.upcoming-card {
    background: linear-gradient(135deg, #2563eb, #3b82f6);
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 3%;
}




.stat-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stat-card {
    background: #fff;
    border-radius: 14px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.stat-card h6 {
    margin-bottom: 6px;
    color: #555;
}

.stat-card h3 {
    margin-bottom: 4px;
    font-weight: 700;
}

.stat-content small {
    font-weight: 500;
}

/* Icon */
.stat-icon {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
}


.btn-outline-dark {
    background-color: white;
    border-color: white;
}


.dash-card {
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    height: 100%;
}

.dash-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.dash-card-header h6 {
    margin: 0;
    font-weight: 600;
}

.dash-card-header a {
    font-size: 14px;
    color: #3b6df6;
    text-decoration: none;
}

/* Notifications */
.notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-list li {
    display: flex;
    gap: 14px;
    padding: 12px 0;
}

.notification-list p {
    margin: 0;
    font-size: 14px;
}

.notification-list small {
    color: #888;
}

/* Icons */
.icon {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.icon.purple {
    background: #eef0ff;
    color: #5a5cff;
}

.icon.blue {
    background: #e9f2ff;
    color: #3b6df6;
}

.icon.red {
    background: #ffecec;
    color: #ff4d4f;
}

.icon.yellow {
    background: #fff6d8;
    color: #ffb300;
}

/* Clinics */
.clinic-card {
    background: #f9fcff;
    border-radius: 14px;
    padding: 16px;
    margin-bottom: 16px;
}

.clinic-top {
    display: flex;
    align-items: center;
    gap: 12px;
}

.clinic-top img {
    width: 44px;
    height: 44px;
    border-radius: 10px;
    object-fit: cover;
}

.clinic-top h6 {
    margin: 0;
    font-size: 15px;
}

.clinic-top small {
    color: #555;
}

.clinic-time {
    margin-top: 12px;
    font-size: 14px;
}

.clinic-time p {
    margin: 4px 0;
}

.clinic-time a {
    color: #3b6df6;
    font-size: 14px;
    text-decoration: none;
}

/* pharmcy details */
.widget {
    margin-bottom: 30px;
}

.content h4 {
    font-size: 18px;
    font-weight: 500;
}

.widget-title {
    margin-bottom: 15px;
    color: #0F172A;
    font-size: 18px;
    font-weight: 500;
}

.experience-box {
    position: relative;
}

.experience-list {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.experience-list::before {
    background: #E2E8F0;
    bottom: 0;
    content: "";
    width: 2px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.experience-list li {
    position: relative;
}

.experience-list>li .experience-user {
    background: #ffffff;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 4px;
    left: 4px;
    margin: 0;
    padding: 0;
}

.before-circle {
    background-color: rgba(32, 192, 243, 0.2);
    height: 12px;
    width: 12px;
    border: 2px solid #316dff;
    border-radius: 50%;
}

.experience-list>li .experience-content {
    background-color: #ffffff;
    position: relative;
    margin: 0 0 20px 40px;
    padding: 0;
}

.experience-list>li .experience-content .timeline-content {
    color: #757575;
}

.exp-year {
    color: #316dff;
    margin-bottom: 2px;
}

.content h4 {
    font-size: 18px;
    font-weight: 500;
}

.exp-title {
    font-size: 16px;
    font-weight: 500;
    color: #0F172A;
}

/* blog */
.author-thumb {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.author-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.meta-pill {
    padding: 4px 12px;
    border: 1px solid #000;
    border-radius: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.custom-quote {
    border-left: 4px solid #0d6efd;
    padding-left: 15px;
    margin-top: 20px;
    color: #555;
}

.sidebar-box {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.news-item {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.news-item img {
    width: 80px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
}


/* Index */
body {
    font-family: "Poppins", sans-serif;
}

.landing {
    height: 85vh;
    background: linear-gradient(180deg, #016be7, #0066e9 50%, #96e8fe 88%, #b1fcf7);
    position: relative;
    padding-top: 50px;
}

.landing-title {
    font-size: 56px;
}

.rating-box {
    width: fit-content;
}

.avatar-stack img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: -18px;
    transition: transform 0.4s;
}

.avatar-stack img:hover {
    transform: translateY(-3px);
    z-index: 2;
}

.stars {
    list-style: none;
    padding: 0;
    color: #facc15;
}

.media-pill {
    width: 120px;
    height: 62px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

.media-icon {
    width: 50%;
    bottom: 30%;
    right: 50%;
    transform: translateX(50%);
}

.search-box select,
.search-box input {
    border: none;
    outline: none;
}

.action-btn {
    background: linear-gradient(90deg, #2c77ff, #07b5ff);
    border: none;
    border-radius: 50px;
    color: white;
    padding: 0.7rem 1.5rem;
}

.doctor-img {
    width: 90%;
}

.call-wrapper {
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border-radius: 50px;
    padding: 20px;
}

.call-controls i {
    font-size: 20px;
    cursor: pointer;
}

.phone-btn {
    width: 55px;
    height: 55px;
    background: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-bg .bg-left {
    position: absolute;
    bottom: -5px;
    left: 0;
}

.landing-bg .bg-right {
    position: absolute;
    bottom: -140px;
    right: 0;
}

.features-bar {
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    border-radius: 16px;
    box-shadow: 0 4px 34px rgba(0, 0, 0, 0.1);
}

.feature-item {
    text-align: center;
    cursor: pointer;
}

.feature-item p {
    transition: color 0.4s;
}

.feature-item:hover p {
    color: #0066e9;
}

.feature-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.feature-icon img {
    transition: transform 0.4s ease-in-out;
}

.feature-item:hover .feature-icon img {
    transform: rotateY(360deg);
}

.bg-sky {
    background: #02bfff;
}

.bg-blue {
    background: #316dff;
}

.bg-pink {
    background: #dd2590;
}

.bg-cyan {
    background: #06aed4;
}

.bg-purple {
    background: #6938ef;
}

.bg-orange {
    background: #e04f16;
}

.bg-teal {
    background: #0e9384;
}


.support {
    margin: 12rem 0 0 0;
    padding-bottom: 3rem;
}

.support-head {
    width: fit-content;
    position: relative;
}

.support-head::before,
.support-head::after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.support-head::before {
    left: 7%;
}

.support-head::after {
    right: 7%;
}

